body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://pibig.info/uploads/posts/2022-12/1670033417_1-pibig-info-p-ochen-krasivie-foni-krasivo-1.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    width: 100%;
    background-color: rgba(13, 13, 13, 0.8);
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

h1 {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.9);
}

.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 255, 255, 0.6);
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: rgba(0, 255, 255, 0.8);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: rgba(13, 13, 13, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.modal-content img {
    width: 100%;
    border-radius: 5px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.loading {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

 .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-containers {
    display: flex;
    width: 100%;
    opacity: 0.8; /* Прозрачность */
}

.left-container,
.right-container {
  
    width: 50%; /* Каждый контейнер занимает половину ширины */
    padding: 20px;
}

#historyTable {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Прозрачный фон таблицы */
    border-collapse: collapse;
}

#historyTable th,
#historyTable td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

#historyTable th {
  color: 4444;
  padding: 24px;
  color: white; /* Цвет заголовка */
  font-size: 22px; 
}

/* Стили для ячеек таблицы с запросами */
#historyTable td {
    transition: all 0.3s ease; /* Плавный переход при изменениях */
    padding: 10px;
}

/* Эффект при наведении на ячейку таблицы */
#historyTable td:hover {
    font-size: 1.2em; /* Увеличиваем размер текста */
    font-weight: bold; /* Делаем текст жирным */
    background-color: rgba(200, 200, 200, 0.2); /* Более светлый фон */
    cursor: pointer; /* Указатель на курсоре */
}

.bottom-container {
    width: 85%; /* Во всю ширину */
    padding: 10px;
    
    background-color: rgba(255, 255, 255, 0.3); /* Примерный фон для нижнего контейнера */
    border-radius: 10px;
    margin: 20px;
}

/* Г А Л Е Р Е Я М И Н И А Т Ю Р ===============*/
/* - - - - З А Т У Х А Н И Е И G I F - - - - -  */
/* Стиль для затемнения фона во время загрузки */
.loading {
    position: fixed; /* Фиксированное положение */
    top: 0;
    left: 0;
    width: 100%; /* На всю ширину */
    height: 100%; /* На всю высоту */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    display: flex; /* Flexbox для центрирования */
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    z-index: 9999; /* Высокий индекс слоя для отображения поверх остальных элементов */
    display: none; /* Скрыть по умолчанию */
}

.loading-gif {
    width: 150px; /* Ширина анимации загрузки */
    height: 150px; /* Высота анимации загрузки */
}

/*==========КНОПКИ==========*/
.donation-button {
    text-align: center;
    margin-top: 20px;
}

.donation-button button {
    padding: 10px 20px;
    background-color: #4444; /* Цвет кнопки */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.donation-button button:hover {
    background: #444;
}

/* Стили для выпадающих списков */
select {
    width: 100%; /* Занимает полную ширину контейнера */
    padding: 10px; /* Отступы внутри выпадающего списка */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Полупрозрачная рамка */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    color: black; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Скругление углов */
    margin-bottom: 15px; /* Отступ снизу между списками */
    cursor: pointer; /* Курсор указателя при наведении */
}

/* Стили для заголовков и меток */
h2 {
    color: white; /* Цвет заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

label {
    display: block; /* Делает метки блочными элементами */
    color: white; /* Цвет текста меток */
    margin-bottom: 5px; /* Отступ снизу */
}

/*=========== Стили фон фото ========== */
/* Стили для кнопки загрузки фона */
.upload-label {
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    color: white; /* Цвет текста */
    padding: 10px 15px; /* Отступы */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Полупрозрачная рамка */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Указатель при наведении */
    margin-top: 15px; /* Отступ сверху */
    font-size: 22px; /* Размер иконки */
}

/* Стили для иконки загрузки */
.upload-icon {
    margin-right: 8px; /* Отступ справа от иконки */
    font-size: 28px; /* Размер иконки */
}

/* КРЕСТИК ============================== */
.input-wrapper {
    position: relative; /* Позволяет размещать крестик относительно контейнера */
    width: 90%; /* Задает ширину контейнера для текстового поля во всю ширину */
}

#text-input {
    width: 100%; /* Устанавливаем текстовое поле во всю ширину */
    padding: 20px; /* Отступы внутри текстового поля */
    padding-right: 40px; /* Увеличиваем правый отступ для места под крестик */
    border: 1px solid #ccc; /* Граница текстового поля */
    border-radius: 5px; /* Скругленные углы */
    resize: 1; /* Отключаем возможность изменения размера текстового поля */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.clear-icon {
    position: absolute; /* Позиционируем крестик относительно контейнера */
    right: 15px; /* Отступ от правого края */
    top: 40%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Чтобы крестик был по центру вертикально */
    font-size: 70px; /* Размер крестика */
    color: white; /* Цвет крестика */
    cursor: pointer; /* Изменение курсора при наведении */
    display: none; /* По умолчанию скрываем крестик */
}

.clear-icon:hover {
    color: Red; /* Изменение цвета при наведении */
}
